* { 
	box-sizing: border-box;
}

body {
	font-size: 12px;
	line-height: 32px;
	background-color: #dddddd;

}

header{
	margin-bottom: 24px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	
}

h2{
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	display: inline;
	background-color: teal;
	color: white;
	padding: 24px;

}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: teal;
}

h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: teal;
}

aside{
	float: right;
}



p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;

}

footer{
	text-align: center;
	position: fixed;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	width: 100%;
	bottom: 0;
	background-color: #666666;
	border: 5px solid: white;
	color: white;

}

.container{
	width: 960px;
	margin: 0 auto;
	overflow: auto;

}

#about-me{
	width: 70%;
	float: right;


}

#contact{
	width: 30%;
	float: left;
}

#portfolio{
	width: 30%;
	float:right;
}


#footer{
	position: fixed;
	bottom: 0;
	width: 100%
	top: 0;
	left: 0;
	right: 0;
	text-align: center;

}

.nav-li{

	float: right;
	padding: 23px 0;
	background-color: white;

}

.nav-a{
	text-decoration: none;
	color: grey;
	font-size: 17px;
	padding: 3px;

}

.connect{ 
	float: right;
	width: 270px;
	background-color: white;
	text-align: center

}

.section {
	float: left;
	width: 650px;
	background-color: white;
	padding: 20px;
	border: 650px #dddddd
	

}
